# **TUPLAS**

Semelhante a Lista porém imutável

In [2]:
frutas = ('Laranja','Maca','Pera',)

numeros = tuple([1,2,3,4])

**Acessando dados dentro da Tupla**

In [4]:
frutas[0]

'Laranja'

In [3]:
numeros[0]

1

**Tuplas BI-DIMENSIONAIS**

In [6]:
matriz = (
    (1,'a',2),
    ('b',3,4),
    (6,5,'c')
)

print(matriz[0])
print(matriz[0][0])

(1, 'a', 2)
1

**FATIAMENTO**

In [7]:
tupla = ('p','y','t','h','o','n',)

print(tupla[2:])
print(tupla[:2])
print(tupla[1:3])
print(tupla[0:3:2])
print(tupla[::-1])

('t', 'h', 'o', 'n')
('p', 'y')
('y', 't')
('p', 't')
('n', 'o', 'h', 't', 'y', 'p')

**ITERANDO**

In [8]:
carro = ('Gol','Ferrari','Palio',)

for car in carro:
  print(car)

Gol
Ferrari
Palio

**MÉTODOS DA TUPLA**

- .count() --> Conta quantas vezes um obj se repete dentro da lista
- .index() --> Devolve o numero da posicao do obj na lista
- len() --> Tamanho da lista

In [9]:
carro = ('Gol','Ferrari','Palio',)

# Count
print(carro.count('Gol'))

1

In [10]:
# Index
print(carro.index('Ferrari'))

1

In [11]:
# Len
print(len(carro))

3